/chaves/*

# Diretórios e arquivos do Terraform
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
crash.log
terraform.tfstate.*
*.backup
# Variáveis sensíveis
*.tfvars
*.tfvars.json

# Arquivos de saída do Terraform
*.tfplan
plan.out

# Credenciais e configurações locais
terraform.rc
terraform.tfvars.local

*.backup

# Logs e arquivos temporários
*.log
*.bak
*.swp

modules/maquinas/arquivos/*

# Zips das lambdas
modules/lambda_functions/code/*.zip

# Diretório temporário de clone
temp_lambda_code/

.env

