
# Diretórios e arquivos do Terraform
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
crash.log
terraform.tfstate.*
*.backup
# Variáveis sensíveis
*.tfvars
*.tfvars.json

/ansible/inventory/bastion*
/ansible/inventory/private_hosts*
/ansible/inventory/public_hosts*

!/ansible/.env.sample

/ansible/aws.yml


# Arquivos de saída do Terraform
*.tfplan
plan.out

# Credenciais e configurações locais
terraform.rc
terraform.tfvars.local

.idea/

*.backup

# Logs e arquivos temporários
*.log
*.bak
*.swp

.env

.idea

